#ad {
  text-align: left;
}
/* ---
#ad .row {
  padding-bottom: 4px;
  background-color: none; /***********--------- TEST BACKGROUND COLOR HERE------------**********---------- */

#ad .container {
  display: inline-block;
  padding: 0px 0px;
  width: 100%;
  background-color: none;
}

/* ------------------------------ sections ------------------------------ */

/* -------------------- Intro -------------------- */
.box-adIntro {
  position: relative;
  top: -65px;
  margin: 16px 16px 0 16px;
  padding: 20px;
  display: inline-block;
  background-color: black;
  opacity: 80%;
  color: #ffffff;
  font-style: normal;
}
.box-adIntro h1 {
  padding: 16px 0px 16px 0px;
}
.box-adIntro p {
  padding-bottom: 16px;
}

/* -------------------- The Challenge -------------------- */
.box-adChallenge {
  background-color: none;
  margin: 0px 16px 0 16px;
  padding: 20px;
  display: inline-block;
}
.box-adChallenge picture {
  padding: 0;
}
.box-adChallenge h2 {
  padding: 1.5em 0 0 4px;
}

.box-adChallenge p {
  padding: none;
}

/* --------------------- The Process --------------------- */
.box-adProcess {
  background-color: #e2e6e9;
  margin: 0;
  padding: 16px;
  display: block;
}

.box-adProcessBg {
  background-color: #ffffff;
  margin: 0;
  padding: 0px;
  display: block;
}

.box-adProcessBg h3,
.box-adProcessUx h3,
.box-adProcessUi h3 {
  margin: auto;
  display: block;
  text-align: center;
}

.box-adProcessBg p {
  margin: auto;
  display: block;
  text-align: center;
}

.box-adProcessUx,
.box-adProcessUi {
  background-color: #ffffff;
  margin: auto;
  padding: 0px;
  display: block;
}
