#mf .container {
  display: inline-block;
  padding: 0px;
  position: relative;
  top: -210x;
}
#mf .innerContainer {
  display: inline-block;
  padding: 0px 16px;
  position: relative;
  top: -190px;
}

.mfLogo {
  width: 97px;
  height: auto;
  display: inline-block;
  padding: 120px 0 0 16px;
  z-index: 2;
}

#mfBackground {
  /* ------- main background ------- */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
  margin: 0;
  width: 100%;
}

.mfMain {
  position: relative;
  top: -200px;
  margin: 0;
  z-index: -4;
  width: 100%;
}

#mf .yellowBoxButton {
  display: inline-block;
  z-index: 2;
  padding-bottom: 48px;
}

#mf h1 {
  padding-top: 40px;
  padding-bottom: 8px;
}
#mf h2 {
  padding-top: 72px;
  text-align: center;
}
#mf h3 {
  padding-top: 32px;
  padding-bottom: 16px;
  line-height: 0%;
}
.projType {
  display: inline-block;
}

.mfIntroText {
  display: inline-block;
  padding: 0 16px;
}

.mfLowFi,
.mfMidFi,
.mfInspirationBrd {
  width: 100%;
  padding: 0;
  margin: 12px 0 0 0;
  -webkit-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
  box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
  line-height: 0%;
}

.mfTypeStylesFonts {
  padding: 20px 32px 0 32px;
}
.mfTypePicDesk {
  display: none;
}
.mfTypePicCar {
  display: none;
}
.mfTypeColorPalette {
  padding: 24px 24px 0 24px;
}

.mfIconsA {
  padding: 16px 16px 0 16px;
}
.mfIconsB {
  padding: 18px 16px 0 16px;
}

.mfMockupStudyImage {
  margin-top: 48px;
  -webkit-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
  box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
  line-height: 0%;
}

.mfFinalDesigns {
  padding: 16px 0 100px 0;
}

/* ----------------------------- MEDIA QUIERIES ------------------------------ */
/* --------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------- */

/* ===============================================================================================
Medium devices (640px and larger)
================================================================================================== */
@media only screen and (min-width: 640px) {
  #mf .innerContainer {
    top: -960px;
  }

  .mfLogo {
    width: 175px;
    padding: 170px 0 0 24px;
  }

  #mf h2 {
    padding-top: 108px;
  }

  .mfIntroText {
    padding: 0 14px 0 420px;
  }

  .mfWrapper1,
  .mfWrapper2 {
    padding: 0 24px;
  }

  .mfTypeStylesFonts {
    padding: 64px 24px 0 32px;
  }
  .mfTypePicDesk {
    -webkit-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
    box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
    display: inline-block;
    line-height: 0;
    padding: 0%;
    margin: 24px 24px 0 0;
  }
  .mfTypePicCar {
    -webkit-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
    box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
    display: inline-block;
    line-height: 0;
    margin: 0px 0 0 24px;
  }
  .mfTypeColorPalette {
    margin: 64px 0px 0 8px;
  }

  .mfIconsA {
    padding: 16px 8px 48px 16px;
  }
  .mfIconsB {
    padding: 16px 16px 48px 8px;
  }
}
/* ===============================================================================================
Large devices (1024px or larger)
================================================================================================== */
@media only screen and (min-width: 1024px) {
}
/* ===============================================================================================
X-large devices (1440px or larger)
================================================================================================== */
@media only screen and (min-width: 1440px) {
}
