.mfLogo {
  width: 97px;
  height: auto;
  display: inline-block;
  padding: 120px 0 0 16px;
  z-index: 2;
}

.mfMain {
  /*---background phone image--*/
  position: relative;
  top: -255px;
  margin: 0;
  z-index: -4;
  width: 100%;
}

#mf .container {
  display: inline-block;
  padding: 0px 16px;
  position: relative;
  top: -250px;
}

#mfBackground {
  /* ------- main background ------- */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
  margin: 0;
  width: 100%;
}

.projType {
  /* --- UI DESIGN --- */
  display: inline-block;
}
#mf h1 {
  padding-top: 24px;
  padding-bottom: 8px;
}
#mf h2 {
  padding-top: 0px;
  padding-bottom: 16px;
  text-align: center;
}
#mf h3 {
  margin-top: 24px;
  padding-bottom: 12px;
  line-height: 0%;
}

.mfIntroText {
  display: inline-block;
  padding: 0 16px;
}

.mfLowFi {
  padding-top: 72px;
  padding-bottom: 24px;
}

.mfLowFi img {
  -webkit-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
  box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
}

.mfMidFi img {
  -webkit-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
  box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
}

.mfInspirationBrd {
  padding-top: 96px;
}
.mfInspirationBrd img {
  -webkit-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
  box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
}

.mfTypeStylesColors {
  padding-top: 96px;
}
.mf-type {
  padding: 16px 32px 0 32px;
}
.mf-pic-desk {
  display: none;
}
.mf-pic-car {
  display: none;
}
.mf-colors {
  padding: 24px 24px 96px 24px;
}
.mfIconography {
  padding: 0;
}
.mfIconsA {
  padding: 16px 40px 0 40px;
}
.mfIconsB {
  padding: 18px 40px 96px 40px;
}

.mfMockupStudyImage {
  margin: 0px 0 0px 0;
  -webkit-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
  box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
  line-height: 0%;
}

.mfFinalDesignsSection {
  margin-top: 96px;
}

#mf .hhButton {
  position: relative;
  padding-top: 56px;
}
#mf .hhButton .yellowBoxButton .yellowBox {
  position: absolute;
  width: 80px;
  left: 16px;
  top: 12px;
  z-index: -1;
}
#mf .msButton {
  position: relative;
  text-align: right;
  padding-top: 56px;
}
#mf .msButton .yellowBoxButton .yellowBox {
  position: absolute;
  width: 80px;
  left: 13px;
  top: 12px;
  z-index: -1;
}

/* ----------------------------- MEDIA QUIERIES ------------------------------ */
/* --------------------------------------------------------------------------- */
/*---------------------------------------------------------------------------- */

/* ===============================================================================================
Medium devices (640px and larger)
================================================================================================== */
@media only screen and (min-width: 640px) {
  .mfLogo {
    width: 145px;
    height: auto;
    display: inline-block;
    padding: 250px 0 0 24px;
    z-index: 2;
  }

  .mfMain {
    /*---background phone image--*/
    position: relative;
    top: -485px;
    margin: 0;
    z-index: -4;
    width: 100%;
  }

  #mf .container {
    display: inline-block;
    padding: 0px 48px;
    position: relative;
    top: -485px;
  }

  #mfBackground {
    /* ------- main background ------- */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    margin: 0;
    width: 100%;
  }

  .projType {
    /* --- UI DESIGN --- */
    display: inline-block;
  }
  #mf h1 {
    padding-top: 40px;
    padding-bottom: 8px;
  }
  #mf h2 {
    padding-top: 0px;
    padding-bottom: 16px;
    text-align: center;
  }
  #mf h3 {
    margin-top: 24px;
    padding-bottom: 12px;
    line-height: 0%;
  }

  .mfIntroText {
    display: inline-block;
    padding: 0 16px;
  }

  .mfLowFi {
    padding-top: 128px;
    padding-bottom: 24px;
  }

  .mfInspirationBrd {
    padding-top: 120px;
  }

  .mfTypeStylesColors {
    padding-top: 120px;
  }
  .mf-type {
    padding: 64px 32px 0 0px;
  }
  .mf-pic-desk {
    display: inline-block;
    padding-top: 8px;
  }
  .mf-pic-car {
    display: inline-block;
  }
  .mf-colors {
    padding: 72px 0px 0 16px;
  }
  .mfIconography {
    padding-top: 120px;
  }
  .mfIconsA {
    padding: 16px 10px 0 24px;
  }
  .mfIconsB {
    padding: 18px 24px 0 10px;
  }

  .mfMockupStudyImage {
    margin: 120px 0 0px 0;
    -webkit-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
    box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
    line-height: 0%;
  }

  .mfFinalDesignsSection {
    margin-top: 120px;
  }

  #mf .hhButton {
    position: relative;
    padding-top: 56px;
  }
  #mf .hhButton .yellowBoxButton .yellowBox {
    position: absolute;
    width: 80px;
    left: 16px;
    top: 10px;
    z-index: -1;
  }
  #mf .msButton {
    position: relative;
    text-align: right;
    padding-top: 56px;
  }
  #mf .msButton .yellowBoxButton .yellowBox {
    position: absolute;
    width: 80px;
    left: 14px;
    top: 10px;
    z-index: -1;
  }
}

/* ===============================================================================================
Large devices (1024px or larger)
================================================================================================== */
@media only screen and (min-width: 1024px) {
  .mfLogo {
    width: 190px;
    height: auto;
    display: inline-block;
    padding: 250px 0 0 48px;
    z-index: 2;
  }

  .mfMain {
    /*---background phone image--*/
    position: relative;
    top: -600px;
    margin: 0;
    z-index: -4;
    width: 100%;
  }

  #mf .container {
    display: inline-block;
    padding: 0px 88px;
    position: relative;
    top: -1800px;
  }

  #mfBackground {
    /* ------- main background ------- */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    margin: 0;
    width: 100%;
  }

  .projType {
    /* --- UI DESIGN --- */
    display: inline-block;
  }
  #mf h1 {
    padding-top: 56px;
    padding-bottom: 8px;
  }
  #mf h2 {
    padding-top: 0px;
    padding-bottom: 16px;
    text-align: center;
  }
  #mf h3 {
    margin-top: 40px;
    padding-bottom: 24px;
    line-height: 0%;
  }

  .mfIntroText {
    display: inline-block;
    padding: 0;
  }

  .mfLowFi {
    padding-top: 128px;
    padding-bottom: 24px;
  }

  .mfInspirationBrd {
    padding-top: 168px;
  }

  .mfTypeStylesColors {
    padding-top: 168px;
  }
  .mf-type {
    padding: 96px 48px 0 8px;
  }
  .mf-pic-desk {
    display: inline-block;
    padding-top: 8px;
  }
  .mf-pic-car {
    display: inline-block;
  }
  .mf-colors {
    padding: 96px 0px 0 32px;
  }
  .mfIconography {
    padding-top: 168px;
  }
  .mfIconsA {
    padding: 16px 16px 0 40px;
  }
  .mfIconsB {
    padding: 18px 40px 0 16px;
  }

  .mfMockupStudyImage {
    margin: 168px 0 0px 0;
    -webkit-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
    box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
    line-height: 0%;
  }

  .mfFinalDesignsSection {
    margin-top: 168px;
  }

  #mf .hhButton {
    position: relative;
    padding-top: 56px;
  }
  #mf .hhButton .yellowBoxButton .yellowBox {
    position: absolute;
    width: 80px;
    left: 16px;
    top: 80px;
    z-index: -1;
  }
  #mf .msButton {
    position: relative;
    text-align: right;
    padding-top: 56px;
  }
  #mf .msButton .yellowBoxButton .yellowBox {
    position: absolute;
    width: 80px;
    left: 14px;
    top: 80px;
    z-index: -1;
  }
}
/* ===============================================================================================
X-large devices (1440px or larger)
================================================================================================== */
@media only screen and (min-width: 1440px) {
  .mfLogo {
    width: 255px;
    height: auto;
    display: inline-block;
    padding: 325px 0 0 88px;
    z-index: 2;
  }

  .mfMain {
    /*---background phone image--*/
    position: relative;
    top: -775px;
    margin: 0;
    z-index: -4;
    width: 100%;
  }

  #mf .container {
    display: inline-block;
    padding: 0px 200px;
    position: relative;
    top: -2490px;
  }

  #mfBackground {
    /* ------- main background ------- */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    margin: 0;
    width: 100%;
  }

  .projType {
    /* --- UI DESIGN --- */
    display: inline-block;
  }
  #mf h1 {
    padding-top: 64px;
    padding-bottom: 8px;
  }
  #mf h2 {
    padding-top: 0px;
    padding-bottom: 32px;
    text-align: center;
  }
  #mf h3 {
    margin-top: 40px;
    padding-bottom: 24px;
    line-height: 0%;
  }

  .mfIntroText {
    display: inline-block;
    padding: 0 16px 0 948px;
  }

  .mfLowFi {
    padding-top: 700px;
    padding-bottom: 32px;
  }

  .mfInspirationBrd {
    padding-top: 200px;
  }

  .mfTypeStylesColors {
    padding-top: 200px;
  }
  .mf-type {
    padding: 16px 32px 0 32px;
  }
  .mf-pic-desk {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .mf-pic-car {
    display: inline-block;
  }
  .mf-colors {
    padding: 24px 24px 0 24px;
  }
  .mfIconography {
    padding-top: 200px;
  }
  .mfIconsA {
    padding: 16px 40px 0 40px;
  }
  .mfIconsB {
    padding: 18px 40px 0 40px;
  }

  .mfMockupStudyImage {
    margin: 200px 0 0px 0;
    -webkit-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
    box-shadow: -7px 8px 22px 0px rgba(50, 50, 50, 0.2);
    line-height: 0%;
  }

  .mfFinalDesignsSection {
    margin-top: 200px;
  }

  #mf .hhButton {
    position: relative;
    padding-top: 56px;
  }
  #mf .hhButton .yellowBoxButton .yellowBox {
    position: absolute;
    width: 80px;
    left: 16px;
    top: 80px;
    z-index: -1;
  }
  #mf .msButton {
    position: relative;
    text-align: right;
    padding-top: 56px;
  }
  #mf .msButton .yellowBoxButton .yellowBox {
    position: absolute;
    width: 80px;
    left: 16px;
    top: 80px;
    z-index: -1;
  }
}
