/*
Colors used:
Primary Color (Black): #000000;
Secondary Color (White): #FFFFFF;
Secondary Color (Blue-Gray): #E2E6E9;
Secondary Color (Dark-Gray): #4D4D4D;
Accent Color	(Light-Gray): #F5F5F5;
Accent Color (Mid-Gray): #9BA1A3;
Accent Color (Yellow): #F7F000;
*/

.logo {
  background: url("../img/1-home/1-imgs/1-tk-logo.svg") no-repeat;
  width: 72px;
  height: 79px;
  transition: 500ms ease-in-out;
}

.logo:hover {
  background: url("../img/1-home/1-imgs/1-tk-logo-blk.svg") no-repeat;
  width: 72px;
  height: 79px;
  transition: 500ms ease-in-out;
}
