/*
Colors used:
Primary Color (Black): #000000;
Secondary Color (White): #FFFFFF;
Secondary Color (Blue-Gray): #E2E6E9; Artsee Decor
Secondary Color (Dark-Gray): #4D4D4D;
Accent Color (Mid-Gray): #9BA1A3;
Accent Color	(Light-Gray): #F5F5F5;
Accent Color (Yellow): #F7F000;
Footer Gray grfx/text: #727272;
.row::after {
  content: "";
  clear: both;
  display: table;
}
*/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
}

/* -------------------------------------- FONTS / H1-5 HEADERS ------------------------------------- */

@font-face {
  font-family: "proximanova-regular";
  src: url("proximanova-regular-webfont.woff2") format("woff2"),
    url("proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", serif;
}
h1 {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
h2 {
  font-size: 1.75em;
  font-weight: 400;
  line-height: 0.85;
  margin: 0;
}
h3 {
  font-size: 1.35em;
  font-weight: 400;
  margin: 0;
}
h4 {
  font-family: "proximanova-regular", sans-serif;
}
h4 {
  font-size: 0.8em;
  font-weight: 300;
  color: #9ba1a3;
  margin: 0;
}

body {
  background-color: white;
  font-family: "proximanova-regular", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.25;
  color: #000000;
  margin: 0;
}

/* --------------------------------- HEADER SECTION--------------------------------- */
/* ---------------------------------- logo - menu ---------------------------------- */

header {
  position: fixed;
  width: 100%;
  padding: 18px 16px 18px 16px;
  border-bottom: none;
  display: inline-block;
  z-index: 2;
}

header .container {
  background-color: none;
}

.logo {
  background: url("../img/1-home/1-imgs/1-tk-logo.svg") no-repeat;
  width: 40px;
  height: 44px;
  transition: 350ms ease-in-out;
}
.logo:hover {
  background: url("../img/1-home/1-imgs/1-tk-logo-blk.svg") no-repeat;
  width: 40px;
  height: 44px;
  transition: 350ms ease-in-out;
}
.logo:active {
  background: url("../img/1-home/1-imgs/1-tk-logo-yellow.svg") no-repeat;
  width: 40px;
  height: 44px;
  transition: 0.2s opacity;
}

.menu {
  background: url("../img/1-home/1-imgs/menu.svg") no-repeat;
  width: 26px;
  height: 16px;
  transition: 150ms ease-in-out;
  margin-top: 14px;
  display: inline-block;
}
.menu:hover {
  background: url("../img/1-home/1-imgs/menu-hover.svg") no-repeat;
  width: 26px;
  height: 22px;
  transition: 150ms ease-in-out;
}

#custom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#custom-close {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ---------------------------- INDEX / HOMEPAGE ---------------------------- */
/* -------------------------------------------------------------------------- */

#hero .yellowBoxMain {
  position: relative;
  width: 150px;
  left: -5px;
  top: -200px;
  z-index: -1;
  display: inline-block;
}
#hero {
  padding: 160px 16px 25px 16px;
}
#hero h1 {
  text-align: left;
  margin: 0;
}
#hero p {
  text-align: left;
  margin: 0;
}

.uiTitle {
  padding-bottom: 8.5px;
}

#work .container {
  display: inline-block;
  padding: -100px 0 0px 0;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.box-ad,
.box-ff,
.box-mf {
  /*----- ARTSEE DECOR / FLY FIDO / MOTIV8 FORWARD ----- */
  padding: 40px 16px 32px 16px;
  background-color: #ffffff -5;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-shadow: 4px 1px 16px 0px rgba(155, 161, 163, 0.4);
  -moz-box-shadow: 4px 1px 16px 0px rgba(155, 161, 163, 0.4);
  box-shadow: 4px 1px 16px 0px rgba(155, 161, 163, 0.4);
}
.box-ct,
.box-hh,
.box-ms {
  /*----- CLASSIC TWISTS / HEALTH HELP / MASHSPACE ----- */
  padding: 40px 16px 32px 16px;
  background-color: white -5;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-shadow: -4px 0px 16px 0px rgba(155, 161, 163, 0.4);
  -moz-box-shadow: -4px 0px 16px 0px rgba(155, 161, 163, 0.4);
  box-shadow: -4px 0px 16px 0px rgba(155, 161, 163, 0.4);
}

#work h3 {
  padding-top: 12px;
}

#work p {
  padding: 1px 0 16px 0;
}
/* ------------ CSS ANIMATION ------------ */
#wanderand {
  width: 100%;
  height: auto;
  padding: 0 0px;
  position: relative;
  top: -115px;
  z-index: -1;
}
/* ---------------------------------------- */
@keyframes color-change {
  0% {
    fill: #4d4d4d;
  }
  50% {
    fill: #ffffff;
  }
  100% {
    fill: #f7f000;
  }
}
.st0 {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
} /*---abbreviated version of the rules above:
  .sun {
  animation: 4s color-change infinite alternate linear;
} ---*/
/* ---------------------------------------- */
@keyframes knowme-move {
  from {
    transform: translate(0, 2px);
  }
  to {
    transform: translate(2px, -5px);
  }
}
#knowme-grfx {
  animation-duration: 1s;
  animation-name: knowme-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
} /* ---abbreviated version to the rules above:
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
} --- */

/* ------------------------------- MENU PAGE -------------------------------- */
/* -------------------------------------------------------------------------- */

.menuX {
  background: url("../img/1-home/1-imgs/menuX.svg") no-repeat;
  width: 20px;
  height: 20px;
  transition: 150ms ease-in-out;
  margin-top: 16px;
  display: inline-block;
}

.navigation {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  list-style-type: none;
  display: inline-block;
  width: 100%;
  line-height: 2;
}

/* ------------------------------ ABOUT ME PAGE ----------------------------- */
/* -------------------------------------------------------------------------- */

#aboutHero .yellowBoxMain {
  position: relative;
  width: 150px;
  left: -5px;
  top: -80px;
  z-index: -1;
  display: inline-block;
}
#aboutHero {
  margin: 0;
  padding: 110px 16px 0px 16px;
  display: inline-block;
  width: 100%;
}

#about .container {
  padding: 0 16px;
  z-index: -5;
  top: -125px;
  position: relative;
  display: in-block;
  width: 100%;
}
#about .row {
  padding-top: 0px;
}

#about h1 {
  text-align: left;
  margin: 0;
  display: inline-block;
}

#about p {
  text-align: left;
  margin: 0;
  padding: 8px 16px;
  display: inline-block;
}

.mePics1 {
  -webkit-box-shadow: 0px 5px 6px 0px rgba(155, 161, 163, 0.35);
  -moz-box-shadow: 0px 5px 6px 0px rgba(155, 161, 163, 0.35);
  box-shadow: 0px 5px 6px 0px rgba(155, 161, 163, 0.35);
  margin-bottom: 24px;
  line-height: 0;
  display: inline-block;
}
.mePics2 {
  display: none;
}

#about .yellowBoxButton {
  display: inline-block;
  z-index: 2;
  top: -100px;
  padding-left: 32px;
  padding-bottom: 48px;
}
#about .yellowBoxButton .yellowBox {
  position: absolute;
  width: 80px;
  left: 72px;
  top: 12px;
  z-index: -1;
}

/* -------------------------- IMGs HOVER ANIMATION --------------------------- */
/* --------------------------------------------------------------------------- */

.displayOnHover {
  display: none;
  transition: 200ms;
}

.onHover:hover .displayOnHover {
  display: block;
  transition: 200ms;
}
.onHover:hover .hideOnHover {
  display: none;
  transition: 200ms;
}

/* -------------------------- OTHER HOVER BUTTONS --------------------------- */
/* ---------------- arrowup - knowme - email - linkedin - etc---------------- */

.arrowup {
  background: url("../img/1-home/1-imgs/arrow-dots.svg") no-repeat;
  width: 18px;
  height: 16px;
  transition: 150ms ease-in-out;
  margin: auto;

  margin-bottom: 112px;
}
.arrowup:hover {
  background: url("../img/1-home/1-imgs/arrow-dots.svg") no-repeat;
  width: 20px;
  height: 18px;
  transition: 150ms ease-in-out;
}

.knowme,
.knowme:hover,
.knowme:active {
  width: 28px;
  height: 39px;
  transition: 250ms ease-in-out;
  margin: auto;
}

.knowme {
  background: url("../img/1-home/1-imgs/1-knowme-imgs/1-knowme-center.svg")
    no-repeat;
}
.knowme:hover {
  background: url("../img/1-home/1-imgs/1-knowme-imgs/1-knowme-right.svg")
    no-repeat;
}
.knowme:active {
  background: url("../img/1-home/1-imgs/1-knowme-imgs/1-knowme-left.svg")
    no-repeat;
}

.email,
.email:hover,
.email:active,
.linkedin,
.linkedin:hover,
.linkedin:active,
.behance,
.behance:hover,
.behance:active,
.dribbble,
.dribbble:hover,
.dribbble:active,
.resume,
.resume:hover,
.resume:active {
  width: 28px;
  height: 28px;
  transition: 250ms ease-in-out;
  display: inline-block;
  padding: 24px 0px 0 32px;
}

.email {
  background: url("../img/1-home/1-imgs/1-social-icon-imgs/1-email-icon.svg")
    no-repeat;
}
.email:hover {
  background: url("../img/1-home/1-imgs/1-social-icon-imgs/1-email-icon-blk.svg")
    no-repeat;
}
.email:active {
  background: url("../img/1-home/1-imgs/1-social-icon-imgs/1-email-icon-yellow.svg")
    no-repeat;
}

.linkedin {
  background: url("../img/1-home/1-imgs/1-social-icon-imgs/1-linkedin-logo.svg")
    no-repeat;
}
.linkedin:hover {
  background: url("../img/1-home/1-imgs/1-social-icon-imgs/1-linkedin-logo-blk.svg")
    no-repeat;
}
.linkedin:active {
  background: url("../img/1-home/1-imgs/1-social-icon-imgs/1-linkedin-logo-yellow.svg")
    no-repeat;
}

.behance {
  background: url("../img/1-home/1-imgs/1-social-icon-imgs/1-behance-logo.svg")
    no-repeat;
}
.behance:hover {
  background: url("../img/1-home/1-imgs/1-social-icon-imgs/1-behance-logo-blk.svg")
    no-repeat;
}
.behance:active {
  background: url("../img/1-home/1-imgs/1-social-icon-imgs/1-behance-logo-yellow.svg")
    no-repeat;
}

.dribbble {
  background: url("../img/1-home/1-imgs/1-social-icon-imgs/1-dribbble-logo.svg")
    no-repeat;
}
.dribbble:hover {
  background: url("../img/1-home/1-imgs/1-social-icon-imgs/1-dribbble-logo-blk.svg")
    no-repeat;
}
.dribbble:active {
  background: url("../img/1-home/1-imgs/1-social-icon-imgs/1-dribbble-logo-yellow.svg")
    no-repeat;
}

.resume {
  background: url("../img/2-about/2-about-imgs/2-resume-symbol.svg") no-repeat;
}
.resume:hover {
  background: url("../img/2-about/2-about-imgs/2-resume-symbol-blk.svg")
    no-repeat;
}
.resume:active {
  background: url("../img/2-about/2-about-imgs/2-resume-symbol-yellow.svg")
    no-repeat;
}

/* --------------------------- YELLOW BOX BUTTONS --------------------------- */
/* -------------------------------------------------------------------------- */

.yellowBoxButton {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.yellowBoxButton .yellowBox {
  position: absolute;
  width: 80px;
  left: 20px;
  top: 12px;
  z-index: -1;
}

.button {
  /* KEEP THESE BUTTON RULES AT THE END OR TOWARDS THE BOTTOM! */
  display: inline-block; /* note the <a> tag is inline by default */
  background-color: none;
  color: #000000; /* needed to override the default link color */
  font-weight: 300;
  font-size: 13px;
  padding: 8px 15px;
  margin-top: 28px;
  margin-bottom: 0px;
  border-radius: 0px;
  border: 1px solid #000000; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  background-color: #000000;
}

.previousButton {
  position: relative;
  padding-top: 56px;
}
.previousButton .yellowBoxButton .yellowBox {
  position: absolute;
  width: 80px;
  left: 16px;
  top: 12px;
  z-index: -1;
}
.nextButton {
  position: relative;
  text-align: right;
  padding-top: 56px;
}
.nextButton .yellowBoxButton .yellowBox {
  position: absolute;
  width: 80px;
  left: 16px;
  top: 12px;
  z-index: -1;
}

/* -------------------------OVERALL LAYOUT STYLING -------------------------- */
/* -------------------------------------------------------------------------- */

.container {
  width: 100%;
  margin: 0 auto;
}

.maxWidth {
  max-width: 1200px;
  margin: 0 auto;
}

footer .container {
  display: inline-block;
  padding: 50px 16px 50px 16px;
  background-color: #f5f5f5;
  opacity: 0.85;
}
footer .social {
  display: flex;
  justify-content: center;
  line-height: 0;
}

.copyright {
  text-align: center;
  padding-top: 3px;
  padding-bottom: 8px;
  color: #727272;
}

a {
  color: #000000;
  text-decoration: none; /* No underlining */
}
/* ---
a:visited {
  /* visited link *
  color: #9ba1a3;
} --- */
a:hover,
a:focus {
  /* focus is similar to hover but when targeted by the keyboard */
  color: #9ba1a3;
  text-decoration: none; /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #f7f000;
}

.hiddenOnMobile {
  display: none;
}

.projType {
  /* --- these are the little blocks UI/ UX/ Responsive, etc --- */
  display: inline-block;
  background-color: none;
  font-weight: 300;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 0px;
  border: 1px solid #9ba1a3; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* ---------------------------- COLUMN REFERENCE ----------------------------- */
/* --------------------------------------------------------------------------- */

[class*="col-"] {
  float: left;
  border: 1px solid none;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/* --------------------------------------- MEDIA QUIERIES ---------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------------ */

/* ===============================================================================================
Medium devices (640px and larger)
================================================================================================== */
@media only screen and (min-width: 640px) {
  header {
    padding: 24px 24px 0 24px;
  }
  h1 {
    font-size: 48px;
    line-height: 1;
  }
  h2 {
    font-size: 36px;
    line-height: 0.85;
  }
  h3 {
    font-size: 24px;
    line-height: 1.1;
  }
  body {
    font-size: 15.5px;
    line-height: 1.35;
  }

  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  /* ------------------ MD ----------------- HOME / INDEX ----------------- MD ------------------ */
  #hero {
    padding: 275px 16px 56px 16px;
  }
  #hero .container {
    padding: 0 20px;
  }
  #hero .yellowBoxMain {
    width: 200px;
    left: -5px;
    top: -240px;
  }
  /* --- end of Hero --- */

  #work .container {
    padding: 0 40px;
  }

  /* -----MD----Start CSS ANIMATION -----MD---- */
  #wanderand {
    width: 100%;
    height: auto;
    padding: 0 4px 0 16px;
    position: relative;
    top: 10px;
    z-index: -1;
  }
  /* ------------------------------------------- */
  .hiddenOnMobile {
    display: inline-block;
  }
  .projTitleImage {
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 40px;
  }
  .projectDesc {
    padding: 56px 0px 0 12px;
    float: right;
  }

  .box-ad,
  .box-ff,
  .box-mf {
    /*----- ARTSEE DECOR / FLY FIDO / MOTIV8 FORWARD ----- */
    padding: 32px 16px 0px 16px;
    margin-bottom: 30px;
  }
  .box-ct,
  .box-hh,
  .box-ms {
    /*----- CLASSIC TWISTS / HEALTH HELP / MASHSPACE ----- */
    padding: 32px 16px 0px 16px;
    margin-bottom: 30px;
  }

  .button {
    /* --- (box buttons) --- */
    margin-top: 24px;
  }
  .yellowBoxButton {
    position: relative;
    display: inline-block;
  }
  .yellowBoxButton .yellowBox {
    position: absolute;
    width: 80px;
    left: 20px;
    top: 8px;
    z-index: -1;
  }
  /* ------------------ MD -------------------- ABOUT -------------------- MD ------------------ */

  #aboutHero h1 {
    margin: 0;
    padding: 80px 16px 0px 48px;
    display: inline-block;
    width: 100%;
  }
  #aboutHero .yellowBoxMain {
    position: relative;
    width: 150px;
    left: 64px;
    top: -88px;
    z-index: -1;
    display: inline-block;
  }
  .mePics1 {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
    border: 5px solid #000;
    margin: 56px 0px 6px 43px;
  }
  .mePics2 {
    border: 5px solid #000;
    line-height: 0;
    display: inline-block;
    margin: 0 0px 0 43px;
  }
  .aboutText {
    margin-top: 44px;
    padding-right: 24px;
  }

  #about .yellowBoxButton {
    display: inline-block;
    z-index: 2;
    top: -100px;
    padding-left: 288px;
    padding-bottom: 48px;
  }
  #about .yellowBoxButton .yellowBox {
    position: absolute;
    width: 80px;
    left: 328px;
    top: 8px;
    z-index: -1;
  }
  /* ------------------ MD --------------------- MENU -------------------- MD ------------------ */
  .navigation {
    padding-top: 185px;
  }
}
/* ===============================================================================================
Large devices (1024px or larger)
================================================================================================== */
@media only screen and (min-width: 1024px) {
  header {
    padding: 24px 48px 0 48px;
  }
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 28px;
    line-height: 1.1;
  }
  h4 {
    font-size: 13px;
  }
  body {
    font-size: 16px;
    line-height: 1.25;
  }

  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  /* ------------------ LG ----------------- HOME / INDEX ----------------- LG ------------------ */
  #hero {
    padding: 275px 0px 72px 28px;
  }

  #work .container {
    padding: 0 48px;
  }

  /* -----LG----Start CSS ANIMATION -----LG---- */
  #wanderand {
    width: 100%;
    height: auto;
    padding: 0 48px 0 16px;
    position: relative;
    top: -85px;
    z-index: -1;
  }
  /* ------------------------------------------- */

  .projTitleImage {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
  }

  .projectDesc {
    padding: 156px 0px 0 16px;
  }

  .button {
    /* --- (box buttons) --- */
    margin-top: 96px;
  }
  .yellowBoxButton .yellowBox {
    left: 20px;
    top: 80px;
  }

  .box-ad,
  .box-ff,
  .box-mf {
    /*----- ARTSEE DECOR / FLY FIDO / MOTIV8 FORWARD ----- */
    padding: 32px 16px 24px 16px;
    margin-bottom: 40px;
  }
  .box-ct,
  .box-hh,
  .box-ms {
    /*----- CLASSIC TWISTS / HEALTH HELP / MASHSPACE ----- */
    padding: 32px 16px 24px 16px;
    margin-bottom: 40px;
  }
  /* ------------------ LG -------------------- ABOUT -------------------- LG ------------------ */
  #aboutHero h1 {
    margin: 0;
    padding: 80px 16px 0px 160px;
    display: inline-block;
    width: 100%;
  }
  #aboutHero .yellowBoxMain {
    position: relative;
    width: 150px;
    left: 188px;
    top: -90px;
    z-index: -1;
    display: inline-block;
  }

  .mePics1 {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
    border: 5px solid #000;
    margin: 64px 0px 8px 160px;
  }
  .mePics2 {
    border: 5px solid #000;
    line-height: 0;
    display: inline-block;
    margin: 0 0px 0 160px;
  }
  .aboutText {
    margin-top: 52px;
    padding-left: 0px;
    padding-right: 72px;
  }

  #about .yellowBoxButton {
    display: inline-block;
    z-index: 2;
    top: -168px;
    padding-left: 448px;
    padding-bottom: 48px;
  }
  #about .yellowBoxButton .yellowBox {
    position: absolute;
    width: 80px;
    left: 482px;
    top: 80px;
    z-index: -1;
  }
  /* ------------------ LG --------------------- MENU -------------------- LG ------------------ */
  .navigation {
    padding-top: 220px;
  }
}
/* ===============================================================================================
X-large devices (1440px or larger)
================================================================================================== */
@media only screen and (min-width: 1440px) {
  header {
    padding: 24px 48px 0 48px;
  }
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
    line-height: 1.1;
  }
  h4 {
    font-size: 13px;
  }
  body {
    font-size: 17px;
    line-height: 1.25;
  }

  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }

  /* ------------------ XL ----------------- HOME / INDEX ----------------- XL ------------------ */
  #hero {
    padding: 350px 0px 185px 8px;
  }

  #work .container {
    padding: 0 24px;
  }

  .projTitleImage {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 72px;
  }

  .projectDesc {
    padding: 185px 32px 0 24px;
  }

  .button {
    /* --- (box buttons) --- */
    margin-top: 96px;
  }
  .yellowBoxButton .yellowBox {
    left: 20px;
    top: 80px;
  }

  .box-ad,
  .box-ff,
  .box-mf {
    /*----- ARTSEE DECOR / FLY FIDO / MOTIV8 FORWARD ----- */
    padding: 32px 16px 24px 16px;
    margin-bottom: 40px;
  }
  .box-ct,
  .box-hh,
  .box-ms {
    /*----- CLASSIC TWISTS / HEALTH HELP / MASHSPACE ----- */
    padding: 32px 16px 24px 16px;
    margin-bottom: 40px;
  }
  /* ------------------ XL -------------------- ABOUT -------------------- XL ------------------ */
  #aboutHero h1 {
    margin: 0;
    padding: 96px 16px 0px 208px;
    display: inline-block;
    width: 100%;
  }
  #aboutHero .yellowBoxMain {
    position: relative;
    width: 150px;
    left: 236px;
    top: -92px;
    z-index: -1;
    display: inline-block;
  }
  .mePics1 {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
    border: 5px solid #000;
    margin: 56px 0px 8px 208px;
  }
  .mePics2 {
    border: 5px solid #000;
    line-height: 0;
    display: inline-block;
    margin: 0 0px 0 208px;
  }
  .aboutText {
    margin-top: 44px;
    padding-left: 4px;
    padding-right: 136px;
  }

  #about .yellowBoxButton {
    display: inline-block;
    z-index: 2;
    top: -168px;
    padding-left: 528px;
    padding-bottom: 48px;
  }
  #about .yellowBoxButton .yellowBox {
    position: absolute;
    width: 80px;
    left: 568px;
    top: 79px;
    z-index: -1;
  }
  /* ------------------ XL --------------------- MENU -------------------- XL ------------------ */
  .navigation {
    padding-top: 220px;
  }
}
